#app3{
    width: 50vw;
    height: 50vh;
    border: 1px solid green;
}
#app3 .square{
    border: 1px solid red;
    width: 100px;
    height: 100px;
    transition: all 1s;
}
#app3 .square.active{
    transform: translateX(100px);
}